image: Visual Studio 2019
configuration:
  - Release
  - Debug
install:
  - cd %APPVEYOR_BUILD_FOLDER%
  - git submodule update --init --recursive
build:
  project: OP2Script.sln

# Derived projects may want to auto package build artifacts, and create GitHub
# releases for tagged versions.
# This is disabled for the LevelTemplate project itself, as it is just a
# template project, and so has no binary release packages of its own.

# # Config to automatically package build artifacts
# after_build:
#   # Set version/build tag
#   - set Version=Build%APPVEYOR_BUILD_VERSION%
#   - if defined APPVEYOR_REPO_TAG_NAME set Version=%APPVEYOR_REPO_TAG_NAME%
#   # Set platform/configuration tag
#   - set Config=%CONFIGURATION%
#   - if defined PLATFORM set Config=%PLATFORM%-%Config%
#   # Set overall build tag
#   - set PackageBaseName="%APPVEYOR_PROJECT_NAME%-%Version%-%Config%"
#   # Determine output folder
#   - set OutputFolder=%APPVEYOR_BUILD_FOLDER%\%PLATFORM%\%CONFIGURATION%\
#   - if not exist "%OutputFolder%" set OutputFolder=%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\
#   # Package artifacts
#   - 7z a "%PackageBaseName%.zip" "%OutputFolder%*.exe" "%OutputFolder%*.dll"
#   # - 7z a "%PackageBaseName%.zip" "%OutputFolder%*.lib"
#   - 7z a "%PackageBaseName%-DebugSymbolPdb.zip" "%OutputFolder%*.pdb"
# artifacts:
#   - path: "*.zip"
#     name: BuildArtifacts
#
# # Config so tags automatically create GitHub releases and upload build artifacts
# deploy:
#   on:
#     branch: master
#     APPVEYOR_REPO_TAG: true
#     CONFIGURATION: Release
#   artifact: BuildArtifacts
#   description: ''
#   provider: GitHub
#   auth_token:
#     # GitHub account specific
#     secure: TmV7XiO84JvSaLJnbrRrtoOugcFLSogA4I55yBZ1Y+QAmv28EOgO1M8lX+NSJWA/
